:root{
    --main-color-yellow:#FFD655;
    --weight-yellow:#f5bb00;
    --light-yellow:#febf67;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 246, 194);
    margin-top: 7vw;
    margin-left: 13vw;
}

.logo{
    width: 200px;
}

.header-text{
    background-color: var(--light-yellow);
    padding: 4px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 50px;
    color: rgb(111, 110, 110);
    font-weight: bolder;
}
.line{
    margin-top: 20px;
    width: 150px;
    margin-bottom: 20px;
}
#watch {
    align-items: center;
    text-align: center;
}

.pie-chart1 {
    display: inline-block;
    width: 30vw;
    height: 30vw;
    background: conic-gradient(#bfb2e1 0% 20%, #ffcf86 20% 40%, #ffecbc 40% 60%, #cdeabf 60% 80%, #b7c9e5 80% 100%);
    border-radius: 50%;
    margin: 1vw;
}

.watchback {
    position: relative;
    height: 32vw;
    width: 32vw;
    background-color: rgb(101, 101, 101);
    border-radius: 50%;
    display: inline-block;
}

.btn {
    font-size: 1.6vw;
    color: #333;
    text-decoration: none;
    font-weight: bold;

}

.btn:hover {
    text-decoration: none;
    border: rgba(75, 112, 253, 0.3) solid;
    border-width: 0 0 6px 0;

}

.link7 {
    position: relative;
}

.btn .sub {
    display: block;
    font-size: 0.6vw;
    line-height: 20px;
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(-8px);
}

h1 {
    text-align: center;
    /* margin-top: 2vw; */
    margin-top: 15px;
    margin-bottom: 5vw;
    background-color: var(--weight-yellow);
    font-size: 2.5vw;
    padding: 5px;
    color: rgb(255, 255, 255);
}


#clock_base {
    position: absolute;
    right: 200px;
    bottom: 50px;
    width: 40%;
}