:root{
    --main-color-yellow:#FFD655;
    --weight-yellow:#f5bb00;
    --light-yellow:#febf67;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 246, 194);
    margin-top: 7vw;
    margin-left: 13vw;
}

.logo{
    width: 200px;
}

.header-text{
    background-color: var(--light-yellow);
    padding: 4px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 50px;
    color: rgb(111, 110, 110);
    font-weight: bolder;
}
.line{
    margin-top: 20px;
    width: 150px;
    margin-bottom: 20px;
}
#watch {
    align-items: center;
    text-align: center;
}

.btn {
    font-size: 1.6vw;
    color: #333;
    text-decoration: none;
    font-weight: bold;

}

.btn:hover {
    text-decoration: none;
    border: rgba(75, 112, 253, 0.3) solid;
    border-width: 0 0 6px 0;
}

.link7 {
    position: relative;
}

.btn .sub {
    display: block;
    font-size: 0.6vw;
    line-height: 20px;
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(-8px);
}

h1 {
    text-align: center;
     /*margin-top: 2vw;*/
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: var(--weight-yellow);
    font-size: 2.5vw;
    padding: 5px;
    color: rgb(255, 255, 255);
}

#clock_base {
    position: absolute;
    right: 200px;
    bottom: 50px;
    width: 40%;
    /* cursor: pointer; */
}
.topic{
    color: var(--weight-yellow);
    background-color: white;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 10px;
}
#go{
    text-align: center;
    border: 1px ;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFF6C2FF;
    font-size: 1.5vw;
    padding: 5px;
    color:  var(--weight-yellow);
    text-decoration: underline;
}
